/* You can add global styles to this file, and also import other style files */

// Metropolis fonts
@font-face{
  font-family: 'Metropolis';
  src: url('./assets/fonts/metropolis/Metropolis-Light.otf') format('opentype');
  font-weight: light;
  font-style: normal;
}

@font-face{
  font-family: 'Metropolis';
  src: url('./assets/fonts/metropolis/Metropolis-Regular.otf') format('opentype');
  font-weight: regular;
  font-style: normal;
}

@font-face{
  font-family: 'Metropolis';
  src: url('./assets/fonts/metropolis/Metropolis-Medium.otf') format('opentype');
  font-weight: medium;
  font-style: normal;
}

@font-face{
  font-family: 'Metropolis';
  src: url('./assets/fonts/metropolis/Metropolis-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'Metropolis';
  src: url('./assets/fonts/metropolis/Metropolis-SemiBold.otf') format('opentype');
  font-weight: semibold;
  font-style: normal;
}

// Proxima Nova fonts
@font-face{
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/proxima-nova/Proxima-Nova-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/proxima-nova/Proxima-Nova-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

// Google Sans
@font-face{
  font-family: 'Google Sans';
  src: url('./assets/fonts/google-sans/GoogleSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
