
<div class="row align-items-center">
  <div class="col p-0">
    <app-search-bar (search)="onSearch($event)"></app-search-bar>
  </div>
  <div class="col-auto ml-3 pr-1 btnFavorites">
    <a routerLink="/favorites" *ngIf="!listOnlyFavorites">Favorites</a>
    <a routerLink="/" *ngIf="listOnlyFavorites">List all</a>
  </div>
</div>

<div #gallery class="row gallery" >
  <div class="col-12" *ngIf="foundMovies?.length == 0 || movies?.length == 0">
    <app-not-found></app-not-found>
  </div>

  <div class="col-4 col-md-2 p-1" *ngFor="let movie of (foundMovies ? foundMovies : movies)">
    <app-cards [movie]="movie"></app-cards>
  </div>
</div>


